.edge
{
    
    /* border-color: rgb(252, 78, 107); */
    border-radius: 10px;
    margin-left: 480px;
    margin-top: 40px;
    width: fit-content;
    /* position: absolute; */
    padding: 30px 50px 50px;
    background-color: rgba(255, 255, 255, 0.1);
}

.edge form
{
    display: block;
    justify-content: center;
}

.edge form label
{
    display: block;
    margin-top: 10px;
    color: rgb(252, 78, 107);
    font-weight: bolder;
    font-family: cursive;
    
}

.edge form input
{
    display: block;
    margin-top: 15px;
    height: 30px;
    width: 250px;
}

.sub input{
    width: fit-content;
    background-color: rgba(0, 8, 255, 0.306);
    border-radius: 10px;
    border-color: rgba(0, 8, 255, 0.306);
    color: rgb(252, 78, 107);
    font-weight: bolder;
    font-family: cursive;
   
}

.edge form input:focus
{
    color: blue;
    border-color: blue;
}


@media (max-width: 768px) { 
    .edge{
        margin-left: 200px;
        margin-top: -20px;
    }
    
  }


  @media (max-width: 480px) { 
    .edge
    {
        margin-left: 60px;
    }
}
 
