.head
{
    
    background-color: rgba(232, 11, 169, 0.082);
    width: 100%;
    margin-top: 40px;
    

}

.head h1
{
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 3px;
    margin-left: 555px;
    font-weight: 200;
    font-size: 50px;

}

@media (max-width: 768px) { 
    
    .head h1 
    {
        margin-left: 270px;
    }
    .head
    {
        width: 100%;
    }
    
  }


  @media (max-width: 480px) { 
    .head h1 
    {
        text-align: center;
        margin-left: 50px;
        
    }

    .head
    {
        width: 100%;
    }
}

    